.list {
  margin: 16px 0;
  li {
    width: 150px;
    height: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    padding: 0 15px;
    list-style-type: none;
    background: $white;
    border: 0;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
